[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
beautifulsoup4 = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
xxhash = "*"
pydantic = {extras = ["dotenv"],version = "*"}
pyproj = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.8"
